git/.gitconfig.local
zsh/.env.local

# gpg keyring (regenerated locally)
git/.gnupg/pubring.kbx*
git/.gnupg/trustdb.gpg

# generated
nvim/.config/nvim/.netrwhist
nvim/.local/share/nvim/shada/main.shada

nvim/.local/share/nvim/shada/main.shada
