#include ".config/Xresources.colors"

/* Xft.dpi: 144 */
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt*font: xft:mononoki Nerd Font:style=UniqueID:size=11
/* URxvt*font: xft:AnonymicePowerline Nerd Font:size=11,xft:AnonymicePowerline Nerd Font */
URxvt*letterSpace: -1
URxvt.buffered: false

/* URxvt.borderLess: true */
URxvt.scrollBar: false

URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt*perl-ext-common: default,matcher
/* URxvt*perl-ext-common: default,matcher,tabbed */
URxvt*url-launcher: /usr/bin/xdg-open
URxvt*matcher.button: 1
URxvt*saveLines: 100000


