[Unit]
Description=Backups my homedir
Wants=backups.timer

[Service]
ExecStart=/home/rando/bin/backup-to-freenas.sh

[Install]
WantedBy=backups.target
