if [[ $(uname) == "Darwin" ]]; then
  OSX=1
fi

alias t="tail -f"

alias grep='grep --color=tty'

if command -v nvim 2>&1 >/dev/null; then
  alias vim=nvim
  alias gvim=nvim
fi

# Alias to rust alternatives
if command -v eza 2>&1 >/dev/null; then
  alias ls='eza --hyperlink --classify --color=auto --group-directories-first --oneline'
  alias l='ls'
  alias ll='eza --hyperlink --classify --color=auto --group-directories-first --all --long --links --git'
fi

if command -v bat 2>&1 >/dev/null; then
  alias cat=bat
fi

if [[ "$OSX" == "1" ]]; then

else
  # Linux

  alias sc='sudo systemctl'
  alias jc='sudo journalctl'
  alias scu='systemctl --user'

  alias dnf='sudo dnf'
  alias dnfup='sudo dnf updateinfo info --refresh && sudo dnf update'
  alias aptup='sudo apt update && sudo apt list --upgradable && sudo apt upgrade && sudo apt autoremove'

  if command -v kde-open 2>&1 >/dev/null; then
    alias open=kde-open
  fi
fi

# Git
alias g=git
if command -v hub 2>&1 >/dev/null; then
  alias git=hub
fi

# Rails
alias r=rails

# Bundler
alias b=bundle
alias be='bundle exec'

alias h=heroku
alias heroku="TERM=xterm-256color heroku"

# alias ssh="TERM=screen-256color ssh"

# Kitty
if command -v kitty 2>&1 >/dev/null; then
  # alias ssh="kitten ssh"
  # alias rg="kitten hyperlinked_grep"
fi

# Docker
alias dc=docker-compose
alias docker-gc="docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc:/etc spotify/docker-gc"

# Codespaces

setopt rcquotes
alias cs-current-branch="git branch --show-current"
alias cs-current-display-name="cs-current-branch | cut -d ''-'' -f 3-"
alias cs-current-repo="gh repo view --json nameWithOwner -t '{{.nameWithOwner}}'"
alias cs-current-name='gh cs ls --json displayName,name --jq ".[] | select(.displayName == \"$(cs-current-branch | cut -d ''-'' -f 3-)\") | .name"'

# Create codespace for branch
alias cscreate='gh cs create --branch $(cs-current-branch) --display-name $(cs-current-display-name) --repo $(cs-current-repo)'
alias cssh='gh cs ssh --codespace $(cs-current-name)'

# vi: ft=zsh
