
alias t="tail -f"

alias ls='ls -1Fh --color --group-directories-first'
alias l=ls
alias ll='ls -al'

alias grep='grep --color=tty'

alias vim=nvim
alias gvim=nvim

# alias gvim=mvim
# alias vim='mvim -v'

# Linux

alias sc='sudo systemctl'
alias dnfup='sudo dnf updateinfo info --refresh && sudo dnf update'
alias aptup='sudo apt update && sudo apt list --upgradable && sudo apt upgrade && sudo apt autoremove'

# alias open=xdg-open
function open () {
  detach xdg-open "$*"
}

# Git
alias git=hub
alias g=git

# Rails
alias r=rails

# Bundler
alias b=bundle
alias be='bundle exec'

# alias ssh="TERM=screen-256color ssh"

# Docker
alias dc=docker-compose
alias docker-gc="docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc:/etc spotify/docker-gc"
