
alias t="tail -f"

alias ls='exa --classify --color=auto --group-directories-first --oneline'
alias l='ls'
alias ll='exa --classify --color=auto --group-directories-first --all --long --links --git'

alias grep='grep --color=tty'

alias vim=nvim
alias gvim=nvim

alias cat=bat

# alias gvim=mvim
# alias vim='mvim -v'

# Linux

alias sc='sudo systemctl'
alias dnfup='sudo dnf updateinfo info --refresh && sudo dnf update'
alias aptup='sudo apt update && sudo apt list --upgradable && sudo apt upgrade && sudo apt autoremove'

# alias open=xdg-open
# function open () {
#   detach xdg-open "$*"
# }
alias open=kde-open5

# Git
alias git=hub
alias g=git

# Rails
alias r=rails

# Bundler
alias b=bundle
alias be='bundle exec'

alias h=heroku
alias heroku="TERM=xterm-256color heroku"

alias ssh="TERM=screen-256color ssh"

# Docker
alias dc=docker-compose
alias docker-gc="docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc:/etc spotify/docker-gc"
